<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li>
          <div class="accordion-group">
            <div class="accordion-heading">
            <% if request.env["PATH_INFO"].include?("results") %>
                <a style="text-decoration: none;text-align: left" class="accordion-toggle btn btn-success" href="#">
            <% else %>
                <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="#">
            <% end %>
                <span> Results</span>
              </a>
            </div>

        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <% if request.env["PATH_INFO"].include?("champions") %>
                <a style="text-decoration: none;text-align: left" class="accordion-toggle btn btn-success" href="/champions">
            <% else %>
                <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="/champions">
            <% end %>
            <span> Champions</span>
            </a>
          </div>

        </div>


      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
