<div class="span6">
  <div class="accordion" id="accordionQuickV">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger" href="#">
          Purpose of LadMadBad
        </a>
      </div>
      <div id="collapseQuickV" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">

          <div class="row-fluid">
            <div class="span12">
              <h4>Allow players another medium to leave feedback on fellow Summoners beyond Reports and Honor in a publicly accessible forum.</h4>
              <br>
              The hope is that when players are constantly flaming or trolling it will be obvious that they have consistent behavior patterns so that when reports do go to tribunal there will be a place to gather more information.
              <br><br>
              Players who go above and beyond to be a GGG on a regular basic can be easily identified when considering them for duoing up, or joining a team.
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="span6">
  <div class="accordion" id="accordionQuickV">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger" href="#">
          How does this work?
        </a>
      </div>
      <div id="collapseQuickV" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">

          <div class="row-fluid">
            <div class="span12">
              Search for a summoner and leave some feedback your experience with them.<br>
              The rating system is broken into 3 categories:
              <div class="well" style="padding:10px;">
              <ol>
                <li>Cool Lad</li>
                <li>Mad</li>
                <li>Bad</li>
              </ol>
              </div>
              It is important to leave some feedback along with your rating so others understand your reasoning.
              Feedback is limited to 200 characters.<br>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
